{{!-- BASE DATA ABOUT THE SITE --}}

    <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-bottom">
         <div class="container bg-light">
   <a href="#" class="nav-link nav-item" >Terms of use</a>
    <a href="\about" class="nav-link nav-item">About</a>
    <a href="#" class="nav-link nav-item">&#169;2022 All rights reserved </a>
                     </div>
</nav>
