

<br>
<div class="container">
<form method="post" class="form-control form-control-sm">
   <label for="email">Email</label>
    <input type="text" name="email" placeholder="Enter username" id="email">
    <br>
       <br>
       <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter password" id="password">
       <br>
    <br>
    <input type="submit" value="Login"  class="btn btn-primary">
    <a href="/signup">New? Sign up here.</a>
</form>
</div>